*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

header {
    height: 150px;
    border: 1px solid rgba(188, 170, 170, 1);
    box-shadow: 0px 4px 8.7px rgba(0, 0, 0, 0.25);

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-wrapper ul {
    display: flex;
    align-items: center;
    gap: 64px;
}

.header-wrapper ul li a{
    display: flex;
    align-items: center;
    gap: 11px;
}

.header-wrapper div button {
    border: 3px solid rgba(239, 64, 15, 1);
    width: 219px;
    height: 63px;
    border-radius: 20px;
    background-color: transparent;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: rgba(239, 64, 15, 1);
}

.header-wrapper div {
    display: flex;
    gap: 51px;
}

.header-wrapper ul li a {
    font-family: sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 29.05px;
letter-spacing: 0%;
color: rgba(188, 170, 170, 1);
}

.section-header-wrapper {
    display: flex;
    margin-top: 60px;

    align-items: center;
    justify-content: space-between;
}

.section-header-wrapper div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-header-wrapper div span {
    font-family: sans-serif;
font-weight: 600;
font-size: 40px;
line-height: 48.41px;
letter-spacing: 0%;
color: rgba(13, 12, 92, 1);
}

.section-header-wrapper div input {
    width: 386px;
    height: 63px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 20px;
    padding-left: 21px;
}

.section-header-wrapper div input::placeholder {
    font-family: sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 29.05px;
letter-spacing: 0%;
color: rgba(255, 255, 255, 0.72);
}

.section-header-wrapper div button {
    width: 116px;
    border-radius: 20px;
    background-color: rgba(13, 13, 91, 1);
    height: 63px;
    color: rgba(255, 255, 255, 1);
    font-family: sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 29.05px;
letter-spacing: 0%;

}

.section-header-wrapper div p {
    font-family: sans-serif;
font-weight: 600;
font-size: 32px;
line-height: 38.73px;
letter-spacing: 0%;
color: rgba(239, 64, 15, 1);
}

.section-header-wrapper-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 117px;
    margin-bottom: 34px;
}

.section-header-wrapper-2 div {
    width: 290px;
    height: 290px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 13.3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;

}


.coin{
    margin-top: 21px;
    margin-bottom: 34px;
    color: rgba(0, 0, 0, 0.67);
    font-size: 15px;
}

.section-header-wrapper-2 p {
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
}

.section-header-wrapper-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 117px;
}
.section-header-wrapper-3 div {
    width: 290px;
    height: 290px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 13.3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;

}

.section-header-wrapper-4 {
    display: flex;
    justify-content: space-between;
    margin-top: 117px;
}
.section-header-wrapper-4 div {
    width: 290px;
    height: 290px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 13.3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
}

.section-header-wrapper-3 p {
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
}
.section-header-wrapper-4 p {
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
}
.grey{
    color: rgba(0, 0, 0, 0.33);
}
.grey2{
    color: rgba(0, 0, 0, 0.3);
}

footer{
    background: rgba(255, 255, 255, 1);
    height: 65px;
    width: 1440px;
    box-shadow: 0px 4px 17.9px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    margin: 0px 106px;
    
}
footer image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer h3{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: end;
    font-size: 16px;
}
